# Fake news detection using Naive Bayes

# Import dependencies

In [1]:
import numpy as np
import pandas as pd

# Read data

In [2]:
truenews = pd.read_csv("True.csv")
fakenews = pd.read_csv("Fake.csv")

In [3]:
truenews

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
fakenews

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
fakenews.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [6]:
truenews.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

# Create new colomn to determine fake/true news

In [7]:
truenews['True/Fake']='True'
fakenews['True/Fake']='Fake'

# Concatenate true anf fake news and add column article

In [8]:
news=pd.concat([truenews,fakenews])
news['Article']=news['title']+news['text']
news.sample(frac=1)

,title,text,subject,date,True/Fake,Article
15787,OBAMA KNEW DRONE KILLED U.S. HOSTAGE…Never Tol...,Why couldn t the parents be notified of his de...,politics,"Apr 25, 2015",Fake,OBAMA KNEW DRONE KILLED U.S. HOSTAGE…Never Tol...
7690,"Trump Voicemail Hacked, Reveals VERY Close Re...",It appears that several voicemail messages wer...,News,"March 4, 2016",Fake,"Trump Voicemail Hacked, Reveals VERY Close Re..."
11684,CENSORED: CRANKY BERNIE Calls CNN “Fake News” ...,,politics,"Feb 11, 2017",Fake,CENSORED: CRANKY BERNIE Calls CNN “Fake News” ...
13496,Yet another North Korean boat found in distres...,TOKYO (Reuters) - Japan s coast guard on Thurs...,worldnews,"November 30, 2017",True,Yet another North Korean boat found in distres...
4515,Hillary Literally Laughs In The Face Of Repor...,"In case you have been living under a rock, we ...",News,"September 23, 2016",Fake,Hillary Literally Laughs In The Face Of Repor...
...,...,...,...,...,...,...
6759,Hollywood’s Secret Conservative Club Shuts Do...,"A highly exclusive, highly secretive club orga...",News,"April 22, 2016",Fake,Hollywood’s Secret Conservative Club Shuts Do...
4250,"In Unprecedented Endorsement, Non-Partisan Hu...",The Humane Society of the United States pretty...,News,"October 11, 2016",Fake,"In Unprecedented Endorsement, Non-Partisan Hu..."
3927,Trump vows to broker Israeli-Palestinian peace...,WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"May 3, 2017",True,Trump vows to broker Israeli-Palestinian peace...
2573,Kremlin: U.S. arms supplies to Ukraine would s...,MOSCOW (Reuters) - Any U.S. decision to supply...,politicsNews,"July 25, 2017",True,Kremlin: U.S. arms supplies to Ukraine would s...
13816,ANGRY BERNIE REFUSES To Respond When TV Host A...,#FeelTheBernOfSocialismUnivision host Leon Kra...,politics,"May 27, 2016",Fake,ANGRY BERNIE REFUSES To Respond When TV Host A...

# Preprocessing of data

In [9]:
from nltk.corpus import stopwords
import string

In [10]:
def processtxt(l):
    #check string if they have punctuation
    nopunc=[char for char in l if char not in string.punctuation]
    #Join it again to form a string 
    nopunc=''.join(nopunc)
    #To convert string to lowercase and remove stopwords(very commony used words)
    cleanstr=[word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return cleanstr

In [11]:
#Tokenize the article
news['Clean txt'] = news['Article'].apply(processtxt)

In [12]:
news.sample(10)

,title,text,subject,date,True/Fake,Article,Clean txt
6615,Obama Lets Us In On Who He Thinks Will Be Pre...,Every year the nation s press corps meets in W...,News,"April 30, 2016",Fake,Obama Lets Us In On Who He Thinks Will Be Pre...,"[Obama, Lets, Us, Thinks, President, Next, Yea..."
1580,Trump Accidentally Says He Wants Single Payer...,It can easily be said that Donald Trump is a f...,News,"May 5, 2017",Fake,Trump Accidentally Says He Wants Single Payer...,"[Trump, Accidentally, Says, Wants, Single, Pay..."
10347,Woman Born In NAZI GERMANY Says Trump Doesn’t ...,A woman who was born in Nazi Germany says that...,politics,"Jul 20, 2017",Fake,Woman Born In NAZI GERMANY Says Trump Doesn’t ...,"[Woman, Born, NAZI, GERMANY, Says, Trump, Does..."
18690,BOMBSHELL COMEY ADMISSION: FBI Found Email Ind...,After the release of tell-all book Shattered ...,left-news,"May 4, 2017",Fake,BOMBSHELL COMEY ADMISSION: FBI Found Email Ind...,"[BOMBSHELL, COMEY, ADMISSION, FBI, Found, Emai..."
19053,Battered Puerto Rico hospitals on life support...,"SAN JUAN, PUERTO RICO (Reuters) - Puerto Rico ...",worldnews,"September 25, 2017",True,Battered Puerto Rico hospitals on life support...,"[Battered, Puerto, Rico, hospitals, life, supp..."
27,"Trump on Twitter (Dec 22) - Tax cut, Missile d...",The following statements were posted to the ve...,politicsNews,"December 22, 2017",True,"Trump on Twitter (Dec 22) - Tax cut, Missile d...","[Trump, Twitter, Dec, 22, Tax, cut, Missile, d..."
1605,Sean Spicer HILARIOUSLY Branded As Chickensh*...,"Oh, Mr. Spicey. Our favorite press secretary b...",News,"May 2, 2017",Fake,Sean Spicer HILARIOUSLY Branded As Chickensh*...,"[Sean, Spicer, HILARIOUSLY, Branded, Chickensh..."
3754,"Trump Faked Out Fans, Used Machine To Autogra...",Donald Trump supporters thought that when they...,News,"November 19, 2016",Fake,"Trump Faked Out Fans, Used Machine To Autogra...","[Trump, Faked, Fans, Used, Machine, Autograph,..."
20425,Mexico foreign minister heads to U.S. to meet ...,MEXICO CITY (Reuters) - Mexico s Foreign Minis...,worldnews,"September 11, 2017",True,Mexico foreign minister heads to U.S. to meet ...,"[Mexico, foreign, minister, heads, US, meet, D..."
7864,Democrats Just Did Something Amazing To Help ...,"On Wednesday, President Obama signed a bill th...",News,"February 25, 2016",Fake,Democrats Just Did Something Amazing To Help ...,"[Democrats, Something, Amazing, Help, End, Wor..."

In [13]:
#bow=bag of words
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=processtxt).fit(news['Clean txt'])
print(len(bow_transformer.vocabulary_))

39099

In [14]:
news_bow=bow_transformer.transform(news['Clean txt'])

In [15]:
#sparsity refers to a matrix of numbers that includes many zeros or values that will not significantly impact a calculation.
print("shape of sparse matrix:",news_bow.shape)
print("No of non zero occurances:",news_bow.nnz)

shape of sparse matrix: (44898, 39099)
No of non zero occurances: 44898

In [16]:
sparsity=(100*news_bow.nnz/(news_bow.shape[0]*news_bow.shape[1]))
print('sparsity{}:'.format(round(sparsity)))

sparsity0:

# TF-IDF

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidfittrans = TfidfTransformer().fit(news_bow)
news_tfid = tfidfittrans.transform(news_bow)
print(news_tfid.shape)

(44898, 39099)

# Train the model using Naive Bayes

In [21]:
from sklearn.naive_bayes import MultinomialNB
fakenews_detect_model = MultinomialNB().fit(news_tfid,news['True/Fake'])

In [22]:
#Model Evaluation
newspredictions=fakenews_detect_model.predict(news_tfid)
print(newspredictions)

['True' 'True' 'True' ... 'Fake' 'Fake' 'Fake']

In [24]:
from sklearn.metrics import classification_report
print(classification_report(news['True/Fake'],newspredictions))

              precision    recall  f1-score   support

        Fake       1.00      1.00      1.00     23481
        True       1.00      1.00      1.00     21417

    accuracy                           1.00     44898
   macro avg       1.00      1.00      1.00     44898
weighted avg       1.00      1.00      1.00     44898

In [25]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(news['Article'],news['True/Fake'],test_size=0.35)

In [26]:
from sklearn.pipeline import Pipeline
pl = Pipeline([
    ('bow', CountVectorizer(analyzer=processtxt)),
    ('tfidf', TfidfTransformer()),
    ('classifier',MultinomialNB())
])
pl.fit(xtrain,ytrain)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function processtxt at 0x00000275134ACB88>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [27]:
pred = pl.predict(xtest)

In [28]:
print(classification_report(pred,ytest))

              precision    recall  f1-score   support

        Fake       0.96      0.97      0.97      8008
        True       0.97      0.96      0.96      7707

    accuracy                           0.97     15715
   macro avg       0.97      0.97      0.97     15715
weighted avg       0.97      0.97      0.97     15715